/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ae-cms-blocks {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}
.event-card {
	width: 300px;
	border-radius: 8px;
	overflow: hidden;
	background-color: #000;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	transition: transform 0.2s ease, box-shadow 0.3s ease;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	color: white;
}

.event-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.event-card-img {
	height: 180px;
	background-size: cover;
	background-position: center;
	background-color: #ccc;
}

.event-card-info {
	padding: 1rem;
	background-color: #000;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	text-align: left;
}

.event-title {
	margin: 0;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.3;
}

.event-description p {
	margin: 0;
	font-size: 1rem;
	line-height: 1.4;
}

.event-date {
	font-weight: 600;
	font-size: 1rem;
}

.event-time {
	font-weight: 400;
	font-size: 0.95rem;
}
